#container2 {
    width: 400px;
    height: 600px;
    position: absolute;
    top: 8px;
    left: 8px;
    background: transparent;
    border-style: dashed;
    border-color: white;
    border-left-color: black;
    border-top-color: black;
    border-bottom-color: black;
}

#container {
    width: 800px;
    height: 600px;
    position: relative;
    background: black;
    border-style: solid;
}


.box {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-style: none;
}

.paddle {
    width: 10px;
    height: 100px;
    position: absolute;
    top: 240px;
    left: 0px;
    border-style: dashed;
    background: blue;
}

.paddle2 {
    width: 10px;
    height: 100px;
    position: absolute;
    top: 240px;
    right: 0px;
    border-style: dashed;
    background: green;

}
